# Xcode / Swift
DerivedData/
*.xcuserstate

# Firebase
GoogleService-Info.plist

# Pods / Swift Package build products
.build/
Packages/

# Local SDKs or tools
gcloud init/

# User-specific settings
**/xcuserdata/
service-account.json
